
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 50px;
  margin-bottom: 20px;
}

.login-box {
  background-color: #16181c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10 rgba(255 255 255 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #202327;
  color: #fff;
  font-size: 16px;
}

.button  {
  width: 100%;
  padding: 10px;
  background-color: #1d9bf0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0d8ae5;
  border-radius: 5px;
}

p {
  margin-top: 15px;
}

a{
  color: #1d9bf0;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}
